@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

@theme {

    /* Breakpoints */
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --breakpoint-xxl: 1400px;

    /* Max-width (for max-w-* utilities) */
    --max-width-sm: 576px;
    --max-width-md: 768px;
    --max-width-lg: 992px;
    --max-width-xl: 1200px;
    --max-width-xxl: 1400px;

    /* Colors */
    --color-deep: #0D1A63;
    --color-primary: #1A2CA3;
    --color-soft: #2845D6;
    --color-orange: #F68048;
    --color-black: #000000;
    --color-white: #FFFFFF;

    /* Fonts */
    --font-family-sans: 'Roboto', ui-sans-serif, system-ui;

    /* Font size*/
    --text-xs: 0.75rem;
    --text-sm: 0.875rem;
    --text-base: 1rem;
    --text-md: 1.125rem;
    --text-lg: 1.25rem;
    --text-xl: 1.5rem;
    --text-2xl: 1.875rem;

    /* Spacing */
    --spacing-128: 32rem;
    --spacing-144: 36rem;
}

@layer base {
    body {
        @apply font-sans transition-colors duration-300;
    }
}